<!DOCTYPE HTML>
<html>
<head>
    <title>This is Spring prac</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<h1>Spring Boot yeah</h1>
</body>
</html>